body {
  margin: 0;
  padding: 0;
  text-align: center;
}

#app {
  max-width: 70%;
  margin: 0 auto;
}

#results {
  list-style-type: none;
  padding: 0;
  line-height: 0;
}

#results li {
  cursor: pointer;
}

.wrapper {
  overflow-x: scroll;
}

#list {
  height: 104px;
  white-space: nowrap;
  padding: 0;
  margin: 0;
}

.movie {
  display: inline-block;
  position: relative;
  height: 100px;
}

.movie img {
  height: 100%;
}

.movie div.title {
  position: absolute;
  top: 0;
  left: 0;
  user-select: none;
  background-color: rgba(0,0,0,0.8);
  color: #FFF;
  width: 100%;
  height: 100%;
  opacity: 0;
  line-height: normal;
  white-space: normal;
}

.movie div.title:hover {
  opacity: 1;
}

#remove {
  cursor: pointer;
  position: absolute;
  right: 2px;
  top: -3px;
  color: red;
}

#list li:first-child #remove {
  display: none;
}

.error {
  color: #FF9999;
}

input[type=range], input[type=checkbox] {
  vertical-align: middle;
}

label, input[type='checkbox'] {
    cursor: pointer;
}
