#loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  user-select: none;
  cursor: default;
  transition: opacity 1s;
}

#loading p {
  color: white;
  font-size: 20pt;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50px;
  width: 100%;
  margin-top: -25px;
  margin-left: -50%;
}

#loading p::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: 20px;
  width: 100%;
  height: 3px;
  background-size: 70px 100%;
  background-image: linear-gradient(to left, #999 50px, transparent 0);
  animation: animation 10s linear infinite;
}

@keyframes animation {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 100%;
  }
}
