<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>WebMusicController</title>
  <link rel="stylesheet" href="/css/app.css">
  <link rel="stylesheet" href="/css/loading.css">
</head>
<body>
  <div id="app">
    <h1>{{name}}</h1>
    <hr>
    <div class="wrapper"><ul id="list">
      <movie v-for="(item, i) of list" :item="item" :index="i">
    </ul></div>
    <hr>
    <form @submit.prevent="search">
      <select v-model="type" @change="warning">
        <option value="api">YouTube</option>
        <option value="google">Google</option>
        <option value="soundcloud">SoundCloud</option>
      </select>
      <input type="text" v-model="query" v-focus>
      <input type="submit" value="Search!">
      <input type="range" max="150" v-model="volume" @input="setVolume">
      <input type="button" value="Skip" @click="skip">
      <label>
        <input type="checkbox" v-model="repeat" @change="setRepeat">Repeat
      </label>
      <p class="error" v-if="error">
        {{error}}
        <input type="button" value="Close" @click="error=null">
      </p>
    </form>
    <hr>
    <ul id="results"><movie v-for="item of result" :item="item" result></ul>
    <div id="loading" v-if="loading"><p>読み込み中...</p></div>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/vue.js"></script>
  <script src="/js/dist.js"></script>
</body>
</html>
